.site {
    display: grid;

    grid-template-columns: auto 360px;
    grid-template-rows: auto 8em 1fr;
    grid-template-areas:
        'header header'
        'main friend-list'
        'main friend-list';

    height: 100vh;
    width: 100vw;
}

.header {
    grid-area: header;

    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.header > .logo {
    height: 60px;
    margin: 0 0 0 100px;
}

.header > button {
    width: 19vw;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #333; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777; 
    border-radius: 10px;
}

.friend-list {
    overflow: auto;
    grid-area: friend-list;
    min-width: 360px;
    background-color: #333;
    color: #FFF
}

.main {
    grid-area: main;

    display: flex;
    flex: auto;
    justify-content: space-around;
    background-color: #FDFDFD;
}

.item {
    color: #FFF;
    text-align: center;
    padding: 0.5em 0px;
}


@media screen and (max-width: 700px) {
    .site {
        grid-template-columns: 99vw 1vw;
        grid-template-areas:
            'header header'
            'main unset'
            'main unset';
    }

    .header > button {
        width: unset;

    }

    .friend-list {
        grid-area: main;
        margin-left: 98vw;
        padding-left: 15px;
        width: 100vw;
        z-index: 1;

        transition:         margin 300ms ease-out;
        -moz-transition:    margin 300ms ease-out;
        -webkit-transition: margin 300ms ease-out;
        -o-transition:      margin 300ms ease-out;
    }

    .friend-list:hover {
        margin-left: 0;
    }
}
