.site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.item {
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.0em;
}

.item:last-child {
    margin-bottom: 0;
}

.header {
    background-color: red;
}

.friend-list {
    background-color: #00C3FF;
    flex: auto;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

.main {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    background-color: greenyellow;
}

@supports (display: grid) {
    @media screen and (min-width: 700px)  {
        .site {
            display: grid;
            grid-template-columns: 1fr 1fr 250px;
            grid-template-rows: auto 8em 1fr auto;
            grid-template-areas:
                'header header header'
                'main main friend-list'
                'main main friend-list';
            grid-gap: 0.0em;
        }

        .item {
            margin-bottom: 0;
        }

        .header {
            grid-area: header;
        }

        .friend-list {
            grid-area: friend-list;
        }

        .main {
            grid-area: main;
        }
    }
}
