.site {
    display: grid;

    grid-template-columns: auto 360px;
    grid-template-rows: auto 8em 1fr;
    grid-template-areas:
        'header header'
        'main friend-list'
        'main friend-list';

    height: 100vh;
    width: 100vw;
}

.header {
    grid-area: header;

    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.header > .logo {
    height: 60px;
    margin: 10px 0 10px 30px;
}

.header > button {
    width: 360px;

    border-radius: 0;
}

.friend-list {
    grid-area: friend-list;

    background-color: #333;
    color: #FFF;
    overflow: hidden;
}

.friend-list > input {
    margin: 20px 0;
    width: 90%;
}

.main {
    grid-area: main;

    background-color: #F8B5AC;
    display: flex;
    justify-content: space-around;
    flex: auto;
}

.item {
    color: #FFF;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .site {
        grid-template-columns: 99vw 1vw;
        grid-template-areas:
            'header header'
            'main unset'
            'main unset';
    }

    .header > button {
        width: unset;

    }

    .friend-list {
        grid-area: main;
        margin-left: 98vw;
        padding-left: 15px;
        text-align: left;
        width: 100vw;
        z-index: 1;

        transition:         margin 300ms ease-out;
        -moz-transition:    margin 300ms ease-out;
        -webkit-transition: margin 300ms ease-out;
        -o-transition:      margin 300ms ease-out;
    }

    .friend-list > input {
        margin-top: 50px;
        padding: 20px;
        width: 97%;
    }

    .friend-list:hover {
        margin-left: 0;
    }
}
