.friend {
    align-items: center;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.friend-active,
.friend:hover {
    background-color: #F8F8F8;
    border-radius: 0  25px 25px 0;
    color: #000;
}

.name-and-status {
    align-items: center;
    display: flex;

    margin: 10px;
    padding: 10px;
}

.status {
    font-size: 30px;
    padding-right: 10px;
}

.online {
    color: #4CAF50;
}

.offline {
    color: #FF0000;
}

.add-button {
    border: none;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 15px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .friend-active,
    .friend:hover {
        border-radius: 25px;
    }
}
