.message {
    background-color: #6495ED;
    border-radius: 20px;
    border-width: 0;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

.sent {
    align-self: flex-end;
    background-color: #4CAF50;
}

.recieved {
    align-self: flex-start;
    background-color: #6495ED;
}
